@import "tailwindcss";

/* ===== Variables globales ===== */

:root {
  /* Background */
  --background: #f9fafb;
  --foreground: #1f2937;

  /* Primary */
  --primary: #4f46e5;
  --primary-dark: #4338ca;
  --primary-darker: #3730a3;

  /* Secondary */
  --blue: #2563eb;
  --green: #22c55e;
  --orange: #f97316;
  --red: #ef4444;
  --purple: #a855f7;
  --yellow: #facc15;
  

  /* Gray */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;

  /* Custom */
  --midnight-blue: #1e293b;
  --light-blue: #38bdf8;
}

/* ===== Mapping Tailwind v4 ===== */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-darker: var(--primary-darker);

  --color-blue: var(--blue);
  --color-green: var(--green);
  --color-orange: var(--orange);
  --color-red: var(--red);
  --color-purple: var(--purple);
  --color-yellow: var(--yellow);
  --color-midnight-blue: var(--midnight-blue);
  --color-light-blue: var(--light-blue);
}

/* ===== Base ===== */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}